 .tail-datetime-calendar {
    width: 100%;
    margin: auto;
    display: block;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
 
.calendar-navi {
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  background-color: #cd283c;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}
.calendar-label {
  cursor: pointer;
  color: #fff;
  margin: 0;
  padding: 0;
  display: table-cell;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  font-weight: bold;
}

.calendar-label:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.calendar-date {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.calendar-days {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
thead {
  color: #ffffff;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  line-height: 35px;
  border: 0;
  background-color: #223344;
}

tbody {
  color: #334455;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
}



.today {
  color: #3296c8;
}
.calendar-day:hover {
  color: #cd283c;
  font-weight: bold;
}

.empty {
  color: #8899aa;
  cursor: not-allowed;
  background-color: #efefef;
}

.week-day {
  text-transform: uppercase;
}

.event {
  width: 10px;
  height: 10px;
  border: solid green 15px;
  border-radius: 50%;
}

.calendar-info {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  border: solid 1px #223344;
  border-radius: 15px;
  background-color: lightgray;
}  