.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 8em;
        

        &__title {
            display: flex;
            justify-content: center;
            font-size: 4em;
            padding: 15px;
        }
   
        &__ffjudo {
            display: flex;
            
        }
    }

    &__nav {
        justify-content: space-evenly;
    }
}

.test {
    color: white;
    background-color: #212529;
    
}

.d-sm-flex {
    font-size: 4em;
}