.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 8em;
        

        &__title {
            display: flex;
            justify-content: center;
            font-size: 4em;
            padding: 15px;
        }
   
        &__ffjudo {
            display: flex;
            
        }
    }

    /* &__nav {
        justify-content: space-evenly;
        
    } */
}
* {
    & li {
      list-style: none;
    }
    & a {
      text-decoration: none;
      color:white;
    }
  }
  
  
  .menuContainer {
    display: block;
    position: relative;
    width: 750px;
    margin: 0 auto;
  }
  
  .menu {
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    margin: 0px auto;
    background: white;
    border-radius: 100%;
    border: 1px solid white;
    cursor: pointer;
    z-index: 10;
    & ul {
      padding: 0;
      width: 100%;
      display: none;
      position: relative;
      text-align: center;
      top: 35px;
      & li {
        display: inline-block;
        position: relative;
        font-family: Inconsolata;
        font-size: 25px;
        margin-right: 25px;
        box-sizing: border-box;
        width: 125px;
        letter-spacing: 3px;
        text-align: center;
        line-height: 50px;
        &:active{
          text-transform: uppercase;
        }
        &:last-child {
          margin-right: 0;
        }&:hover {
          background: white;
          & a {
            color: #000;
          }
        }
      }
    }
  }
    
  .menuTitle {
    line-height: 150px;
    width: 150px;
    color: #000;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    letter-spacing: 8px;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 150px;
    z-index: 11;
    padding-left: 10px;
    font-family: Inconsolata;
    cursor: pointer;
    -webkit-user-select: none;
  }
  
.test {
    color: white;
    background-color: #212529;
    
}

.d-sm-flex {
    font-size: 4em;
}