.content {
    color: white;
}

.title {
    color: black;
    display: flex;
    justify-content: center;
    margin: 10px;
    color: white;
    font-weight: 900;
}

p {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}