.presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;

    &__story {
        border: 2px solid black;
        width: 80%;
        margin-bottom: 20px;

        &__content {
            margin: 8px;
            
            &__title {
                text-transform: uppercase;
                padding: 10px;
            }

            &__img-text {
                display: flex;
                justify-content: center;
                
                &__dojo {
                    width: 400px;
                    height: 300px;
                    padding: 10px;
                }
            
                &__text {
                    padding: 10px;
                }
            }
        }
    }

    &__member {
        width: 80%;
        height: 500px;
        display: flex;
        justify-content: space-between;

        &__container {
            border: 2px solid black;
            width: 49%;
            overflow: auto;

            &__title {
                text-transform: uppercase;
                padding: 10px;
            }

            &__list {
                padding: 10px;

                &__card {
                    display: flex;
                    width: 95%;
                    border: 2px solid black;
                    margin-bottom: 5px;

                    &__avatar {
                        width: 150px;
                        height: 150px;
                        padding: 10px;
                    }

                    &__info {
                        flex-direction: column;

                        &__text {
                            padding: 5px;

                        }
                    }    
                }
            }
        }
    }
}