.home {
    padding: 30px;

    &__info {
        

        &__content {
            margin: 8px 8px 50px 8px;
            background-color: lightgray;
            border-radius: 10px;
            box-shadow: 1px 1px 5px 3px #9b9b9b;

            &__title {
                text-transform: uppercase;
                padding: 10px;

                &__event {
                    size: 1.3em;
                    padding-left: 10px;
                }
            }

            &__text {
                padding: 5px 30px 30px 30px;
                text-align: justify;
            }
        }
    }
}