body
{
  background-color:#1C1F2F;
}
h2 {
   display: inline-block;
   color: #fff;
}
.organizerContainer{
  margin-top: 10px;
  padding-left: 70px;
}

.demo-card-image.mdl-card {
	width: 356px;
	height: 226px;
	background: url("https://getmdl.io/assets/demos/image_card.jpg") center / cover;
}
.demo-card-image > .mdl-card__actions {
	height: 52px;
	padding: 18px;
	background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.demo-card-event.mdl-card {
	width: 356px;
	height: 226px;
	background: #3e4eb8;
}
.demo-card-event > .mdl-card__actions {
	border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
	align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
	margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
	color: #fff;
}
.wrap_articles
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
  border: solid white 2px;
}

.wrap_events{
    border: solid white 2px;
    width: 500px;
    height: 650px;
}
.tile
{
  width:300px;
  height:300px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}


.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}


.blog-card {
  width: 350px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -175px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  text-align: center;
}
.blog-card.spring-fever {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/bg-blog-card.jpg) no-repeat;
}
.blog-card .color-overlay {
 /* Rectangle 11: */
  background: rgba(84, 104, 110, 0.4);
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {
 /* bg-gradient: */
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, .6) 21%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, .6) 21%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, .6) 21%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, .6) 21%);
  width: 350px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
}
.blog-card:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.title-content {
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9cc9e3;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}
hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}
.intro {
  width: 170px;
  margin: 0 auto;
  color: #dce3e7;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}
.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #dce3e7;
  font-family: 'Droid Serif', serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}
.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}
.utility-list li {
  margin: 0 15px 0 0;
  padding: 0 0 0 22px;
  display: inline-block;
  color: #dce3e7;
  font-family: 'Roboto', sans-serif;
}
.utility-list li.comments {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg) no-repeat 0 0.1em;
}
.utility-list li.date {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg) no-repeat 0 0.1em;
}




/* .home {
    padding: 30px;

    &__info {
        

        &__content {
            margin: 8px 8px 50px 8px;
            background-color: lightgray;
            border-radius: 10px;
            box-shadow: 1px 1px 5px 3px #9b9b9b;
            width: 100%;

            &__title {
                text-transform: uppercase;
                padding: 10px;

                &__event {
                    size: 1.3em;
                    padding-left: 10px;
                }
            }

            &__text {
                padding: 5px 30px 30px 30px;
                text-align: justify;
            }
        }
    }

    &__spinner {
        
        &__border {
            width: 7rem;
            height: 7rem;
            color: #e53f00;
        }
    }
} */